.subject-editor-name {
  background: aquamarine;
}

.delete-subject-button {
  margin-left: 10px;
  background: red;
  cursor: pointer;
}

.add-subject-wrapper {
  margin-top: 40px;
}

.add-subject {
  padding: 10px;
  background: greenyellow;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
