.subject-editor-field {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;

  font-size: 18px;
  background: yellow;
}

.delete-subject-button {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  margin: 0 5px;

  background: red;
}

.add-subject {
  margin-top: 20px;
  padding: 10px;
  background: greenyellow;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
