<ng-container *ngIf="config">
  <div>
    <input type="number"
           min="0" max="23"
           class="subject-editor-field"
           [(ngModel)]="config.startTime.hours">
    :
    <input type="number"
           min="0" max="59"
           class="subject-editor-field"
           [(ngModel)]="config.startTime.minutes">
  </div>

  <table>
    <tr>
      <th>name</th>
      <th>duration</th>
      <th>breakTimeAfter</th>
      <th></th>
    </tr>

    <tr *ngFor="let subject of config.subjects">
      <td>
        <input
          [(ngModel)]="subject.name"
          class="subject-editor-field"
        >
      </td>

      <td>
        <input
          type="number"
          min="1" max="45"
          [(ngModel)]="subject.duration"
          class="subject-editor-field"
        >
      </td>

      <td>
        <input
          type="number"
          min="0" max="60"
          [(ngModel)]="subject.breakTimeAfter"
          class="subject-editor-field"
        >
      </td>

      <td>
        <button class="delete-subject-button" (click)="onDeleteClick(subject)">Remove</button>
      </td>
    </tr>
  </table>


  <div class="add-subject-wrapper">
    <button class="add-subject" (click)="onAddSubject()">Add subject</button>
  </div>
</ng-container>
