.editor-button {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  margin: 0 5px;
}

.__edit-subject-button {
  background: yellow;
}

.__apply-changes-subject-button {
  background: green;
}

.__discard-changes-subject-button {
  background: red;
}

.lessons-wrapper {
  padding: 20px 0;
}
