.splash-screen-wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.go-button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  margin: 0 5px;

  background: darkorchid;

  font-size: 100px;
}

.editor-button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  margin: 0 5px;
}

.__edit-subject-button {
  background: yellow;
}

.__apply-changes-subject-button {
  background: green;
}

.__discard-changes-subject-button {
  background: red;
}

.__test-sound-button {
  background: darkslateblue;
  color: white;
}

.lessons-wrapper {
  padding: 20px 0;
}
