<ng-container *ngIf="splashScreen">
  <div class="splash-screen-wrapper">
    <button class="go-button" (click)="onCloseSplash()">
      Go!
    </button>
  </div>
</ng-container>

<ng-container *ngIf="!splashScreen">
  <ng-container *ngIf="config">
    <div class="lessons-wrapper">
      <ng-container *ngIf="!inEdit">
        <app-clock-controller (onTimeChanged)="onTimeChanged($event)"></app-clock-controller>
        <app-subjects [config]="config" [time]="currentTime"
                      (onLessonStatusChanged)="onLessonStatusChanged($event)"></app-subjects>
      </ng-container>

      <ng-container *ngIf="inEdit">
        <app-subjects-editor [config]="editableConfig"></app-subjects-editor>
      </ng-container>
    </div>

    <button *ngIf="!inEdit" class="editor-button __test-sound-button" (click)="onTestSoundClick()">
      {{r.button.title.testSound}}
    </button>
    <button *ngIf="!inEdit" class="editor-button __edit-subject-button" (click)="onEditClick()">
      {{r.button.title.edit}}
    </button>
    <button *ngIf="inEdit" class="editor-button __apply-changes-subject-button" (click)="onApplyChangesClick()">
      {{r.button.title.accept}}
    </button>
    <button *ngIf="inEdit" class="editor-button __discard-changes-subject-button" (click)="onDiscardChangesClick()">
      {{r.button.title.discard}}
    </button>
  </ng-container>
</ng-container>
