.subject-wrapper {
  padding: 5px;
  margin: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  transition:
    background 0.5s ease,
    box-shadow 0.5s ease;
}

.subject-wrapper.active {
  background: rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.7)
}

.subject-name {
}
