<div *ngIf="_scheduleItem"
     class="subject-wrapper"
     [class.__active]="_scheduleItem.active"
     [class.__break]="_scheduleItem.type === 'break'"
     [class.__lesson]="_scheduleItem.type === 'lesson'"
>

  <div class="subject-cell cell_time">
    <div class="subject-name">{{_scheduleItem.start}}</div>
  </div>

  <div class="subject-cell cell_title">
    <ng-container [ngSwitch]="_scheduleItem.type">
      <ng-container *ngSwitchCase="'lesson'">
        <div class="subject-name">{{_scheduleItem.subjectName}}</div>
      </ng-container>
      <ng-container *ngSwitchCase="'break'">
        <div class="subject-name">Break</div>
      </ng-container>
    </ng-container>
  </div>

</div>
