.subject-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subject-cell {
  padding: 5px;
  margin: 10px 5px;

  border-radius: 10px;

  opacity: 0.3;

  transition:
    opacity 0.5s ease;
}

.__active {
  .subject-cell {
    opacity: 1;
  }
}

.__break {
  .subject-cell {
    background: green;
    box-shadow: 0 0 5px green;
  }
}

.__lesson {
  .subject-cell {
    background: darkorange;
    box-shadow: 0 0 5px darkorange;
  }
}

.cell_time {
}

.cell_title {
  flex: 1;
}

.subject-name {
  text-align: center;
}
