.subject-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subject-cell {
  padding: 5px;
  margin: 10px 5px;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  transition:
    background 0.5s ease,
    box-shadow 0.5s ease;
}

.active {
  .subject-cell {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7)
  }
}

.cell_time {
}

.cell_title {
  flex: 1;
}

.subject-name {
  text-align: center;
}
