.label {
  margin-right: 10px;
}

.time {
  padding: 2px;
  background: blueviolet;
  border-radius: 5px;
  box-shadow: 0 0 5px red;
}

.edit-subject-button {
  margin-left: 10px;
  background: yellow;
  cursor: pointer;
}

.apply-changes-subject-button {
  margin-left: 10px;
  background: green;
  cursor: pointer;
}

.discard-changes-subject-button {
  margin-left: 10px;
  background: red;
  cursor: pointer;
}
